.header{
    position: relative;
    
    &__logo{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
      position: absolute;
        max-width: 100%;
        top: 46px;
        left: 248px;
         z-index: 2;
         transform: translate(-50%,-50%);
         text-decoration: none;
    }
}

.header-nav{
    position: absolute;
    z-index: 2;
    top: 46px;
    right: 0;
    transform: translate(-50%,-50%);
    text-decoration: none;
    &__list{
        list-style-type: none;
    }
    &__item{
        display: inline-block;
        padding: 19px;
        text-decoration: none;
    }
    &__link{
        display: block;
          text-decoration: none;
          text-align: center;
          padding: 10px;
          font-size: 14px;
          color: #fff;
        &.--modifier{
            width: 90px;
            height: 36px;
            border: 2px solid white;
            border-radius: 40px;
        }
    }
}